body{
    margin: 0;
}

#boxCard {
    margin: auto;
    margin-top: 0.8rem;
    min-width: 65%;
    padding: 1rem;
}

#cardStyle{
    padding: 1.5rem;
}
.cardImg {
    max-width: 70%;
}

h6 {
    margin-top: 1.5rem;
}

#cardStyle {
    margin-top: 1.5rem;
    margin-left: 0.8rem;
}