body {
    padding: 0;
    margin: 0;
}

/* --------NAVBAR--------- */
#iconImg {
    margin-top: 0.2rem;
}

#search-btn {
    background-color: rgb(253, 87, 31);
}

#navbarSupportedContent {
    display: flex;
}

/* ----- Content-1 ------ */
#content-1 {
    display: flex;
    max-width: 90%;
    min-width: 60%;
    min-height: 70%;
    flex-direction:row ;
    flex-wrap: wrap;
}

#cardDua {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}

#cardTitle {
    min-height: 2.4rem;
    max-height: 2.4rem;
    overflow: hidden;

}

#cardDua img {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 10rem;
    max-height: 10rem;
    min-height: 10rem;
    max-width: 30rem;
    min-width: 17rem;
    padding-bottom: 2rem;
}

#descImg {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 20%;
    max-height: 20%;
    padding-bottom: 6rem;
}

#descImg p{
    border: red;
    border-color: red;
    padding-top: 0.2rem;
    padding-left: 0.4rem;
    padding-bottom: 2rem;
    max-width: 15rem;
    max-height: 5rem ;
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    overflow: hidden;
}

#footerImg {
    max-height: 2.5rem;
    padding-bottom: 2rem;
}
#harga{
    max-height: 0.6rem;
    padding-left: 0.3rem;
}

#formId {
    margin-bottom: 2rem;
}

#buttonForm {
    margin-top: 0.5rem;
}