body{
    margin: 0;
}

#cont-1 {
    display: flex;
    min-width: 75%;
    margin-top: 1.6rem;
    margin-left: 0.2rem;
}
#form {
    margin: auto;
    margin-left: 2rem;
    padding: 1.5rem;
    padding-right: 2rem;
}